html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

:root {
  //colors
  --red: red;
  //fonts
  --dank-mono: 'Dank Mono';
}

// git remote add origin git@github.com:masonbraun/currency-converter-react.git
// git push -u origin master
